nav.headerPanel
{
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;   
}
div.linksHeaderPanel
{
    margin: 0 0 0 auto;
}
a.headerButton
{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
